<!DOCTYPE html>
<html>
<script>
  // Figure out if the page we're on should be in dark mode or not
  var isDarkMode = localStorage.getItem("isDarkMode");
  
  // If the value hasn't been set yet, we'll set it for you based on whether
  // your system says you're in dark mode or not.
  if (isDarkMode === null) {
    localStorage.setItem(
      "isDarkMode",
      window.matchMedia('(prefers-color-scheme: dark)').matches
    );
  }
  // Determine whether we're in dark mode or not and render the approprate class
  // on the `<html>` element. We do this right up front so we don't get any 
  // strang flashing as the browser renders the DOM.
  else if (isDarkMode === "true") {
    document.documentElement.classList.add("js-is-dark-mode");
  }
</script>
<head>
  <title>
    <%- (title ? `${title} | ` : "") + site.title %>
  </title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%- site.description %>" />

  <!-- Favicon & Touch Icon -->
  <link rel="icon" href="/assets/images/<%- site.themeId %>-favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/assets/images/<%- site.themeId %>-favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="/assets/images/<%- site.themeId %>-icon.png"/>

  <!-- CSS 
       Ever need cache busting? https://toddmotto.com/cache-busting-jekyll-github-pages 
       i.e., `styles.css?<%- site.time  %> -->
  <link rel="stylesheet" href="/assets/styles/reset.css" />
  <link rel="stylesheet" href="/assets/styles/index.css" />

  <!-- RSS Feed -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="<%- site.title %>"
    href="<%- site.themeId === "ios" ? "https://feeds.feedburner.com/iosicongallery" : "/feed.xml" %>"
  />

  <!-- JSON Feed -->
  <link rel="alternate" title="JSON Feed" type="application/json" href="/feed.json" />
  
  <%# Only include Open Graph stuff it this is a post page %>
  <% if (layout === "icon.ejs") { %>
    <!-- Open Graph -->
    <meta property="og:url" content="<%- site.url + permalink %>" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:type" content="article" />    
    <meta
      property="og:image"
      content="<%- site.url + include('_icon-src.ejs', { size: 256, id: id }) %>"
    />
  <% } %>
</head>
<body class="<%- site.themeId %>icongallery">

  <header id="header" class="header">
    <h1>
      <a href="/" title="<%- site.title %>" rel="home">
        <%- include("_site-title.ejs", { id: site.themeId }) %>
      </a>
      <div class="dropdown">
        <a class="dropdown__trigger" href="#">
          <%- include("_svg-arrow-down.svg") %>
        </a>
        <ul class="dropdown__content">
          <% site.themeIds.filter(themeId => site.themeId !== themeId).forEach(themeId => { %>
            <li>
              <a href="https://www.<%- themeId %>icongallery.com" class="external-link">
                <%- include("_site-title.ejs", { id: themeId }) %>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </h1>
  </header>

  <!-- Main content -->
  <main id="main">