<%#
  Displaying the 4 icons on a post
  @param {Object} icon - The `icon` object
  @param {Number} size - The size you want to reference in the `src`
  @param {Number} srcSize - Optional. Overrides `size` when it comes to where
    you source the icon. Useful on icon-view page where we display four icons
    but they're all the same src but different sizes
%>

<%
  var extraIosClass = (prefix) => site.themeId === "iosicongallery"
    ? prefix + (icon.isPreIos7 ? "pre-ios7" : "post-ios7") 
    : "";
  var srcSize = srcSize ? srcSize : size;
-%>

<span class="icon-wrapper icon-wrapper--<%- size %> <%- extraIosClass("icon-wrapper--") %>">
  <img
    alt="<%- icon.title %> app icon"
    class="icon icon--<%- size %> <%- extraIosClass("icon--") %>"
    width="<%- size %>"
    height="<%- size %>"
    <%#
      We can load the larger version via `srcset` if we know it exists.

      - All icons *should* have 128, 256, and 512
      - *Many* icons will have 1024 (Many of the early days icons only came in 512)
      
      We detect which icons have which sizes of artwork in the build step.
      If a 1024 is missing, we add the `isMissing1024Img` bool flag
    -%>
    src="<%- include("_icon-src.ejs", { size: srcSize, id: icon.id }) %>"
    
    <% if (!(srcSize === 512 && icon.isMissing1024Img)) { -%>
      srcset="<%- include("_icon-src.ejs", { size: srcSize * 2, id: icon.id }) %> 2x"
    <% } %>
  />
</span>