---
layout: null
permalink: /feed.json
---

{
  "version": "https://jsonfeed.org/version/1",
  "title": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "home_page_url": "{{ site.url }}/",
  "feed_url": "{{ site.url }}/feed.json",
  "author": {
    "name": "Jim Nielsen",
    "url": "http://jim-nielsen.com/"
  },
  "icon": "{{ site.url }}/{{ site.assets.images }}/{{ site.theeme.active }}-rss.png",
  "favicon": "{{ site.url }}/{{ site.assets.images }}/{{ site.theeme.active }}-favicon.ico",
  "items": [
  {% for post in site.posts limit:10 %}
    {% capture content_html %}<a href="{{ site.url | append: post.url }}"><img width="512" height="512" alt="{{ post.title }} app icon" src="{{ site.url }}{% include icon-src.html.liquid size="512" %}" /></a>{% endcapture %}
    {
        "id": "{{ post.url }}",
        "url": "{{ site.url | append: post.url }}",
        "title": {{ post.title | jsonify }},
        "date_published": "{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}",
        "content_html": {{ content_html | jsonify }},
        "attachments": [
          {
            "url": "{{ site.url }}{% include icon-src.html.liquid size="512" %}",
            "mime_type": "image/png",
            "title": "512px app icon"
          }
        ]
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
}
