<div class="page-not-found">
  <img
    src="{{ site.baseurl }}/{{ site.assets.images }}/404.svg"
    alt="404 page not found"
    width="400"
    height="160"
  />
  <h1>
    Page Not Found
  </h1>
  <p>
    Sorry, but it appears that whatever you’re looking for does not exist.
  </p>
  <p>
    Check out some icons while you’re here.
  </p>
</div>

<ul class="icon-list">
  {% assign posts = site.posts | sample: 60 %}
  {% for post in posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="js-trigger-icon-modal">
        <span class="icon-wrapper icon-wrapper--128">
          <img
            alt="{{ post.title }} app icon"
            class="icon icon--128"
            src="{% include icon-src.html.liquid size="128" %}"
            srcset="{% include icon-src.html.liquid size="256" %} 2x"
          />
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
