{% assign post = page %}

<article>

  <!-- Icon Sizes -->
  <ul class="icon-view">
    <li>
      {% if site.theeme.active != 'watchosicongallery' %}
        {% include icon.html.liquid icon-size="512" %}
      {% else %}
        {% include icon.html.liquid icon-size="256" %}
      {% endif %}
    </li>
    <li>
      {% if site.theeme.active != 'watchosicongallery' %}
        {% include icon.html.liquid icon-size="256" %}
      {% else %}
        {% include icon.html.liquid icon-size="128" %}
      {% endif %}
    </li>
    <li>
      {% if site.theeme.active != 'watchosicongallery' %}
        {% include icon.html.liquid icon-size="128" %}
      {% else %}
        {% include icon.html.liquid icon-size="64" %}
      {% endif %}
    </li>
    <li>
      {% if site.theeme.active != 'watchosicongallery' %}
        {% include icon.html.liquid icon-size="64" %}
      {% else %}
        {% include icon.html.liquid icon-size="32" %}
      {% endif %}
    </li>
  </ul>

  <!-- Icon Meta Info -->
  <div class="icon-meta-wrapper">
    <!-- Header -->
    <header class="icon-meta">

      <!-- App Name -->
      <h1>
        {{ post.title }}
      </h1>

      <!-- Icon Meta -->
      <dl>
        <!-- Icon Designer -->
        {% if post.icon-designer %}
          <dt class="icon-meta__left">Icon Designer:</dt>
          <dd class="icon-meta__right">
              {% if post.icon-designer-url %}
                  <a href="{{ post.icon-designer-url }}" class="external-link">{{ post.icon-designer }}</a>
              {% else %}
                  {{ post.icon-designer }}
              {% endif %}
          </dd>
        {% endif %}

        <!-- App Developer -->
        {% if post.app-developer %}
          <dt class="icon-meta__left">App Developer:</dt>
          <dd class="icon-meta__right">
            {% if post.app-developer-url %}
              <a href="{{ post.app-developer-url }}" class="external-link">{{ post.app-developer }}</a>
            {% else %}
              {{ post.app-developer}}
            {% endif %}
          </dd>
        {% endif %}

        <!-- Category -->
        
        {% if post.category %}

          <!-- Get the Category's Nice Name -->
          {% for category in site.data.categories %}
            {% if category.id == post.category %}
              {% assign category = category.name %}
              {% assign categoryId = category.id %}
            {% endif %}
          {% endfor %}

          <dt class="icon-meta__left">Category:</dt>
          <dd class="icon-meta__right">
            <a href="/search/?category={{ categoryId }}">
              {{ category }}
            </a>
          </dd>
        {% endif %}

        <!-- Tags -->
        {% if post.tags.size > 0 %}
          <dt class="icon-meta__left">
            {% if post.tags.size > 1 %}
              Colors:
            {% else %}
              Color:
            {% endif %}
          </dt>
          <dd class="icon-meta__right">
            {% for tag in post.tags %}
              <a href="/search/?color={{tag}}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
            {% endfor %}
          </dd>
        {% endif %}
        

        <!-- Post Date -->
        {% if post.date %}
          <dt class="icon-meta__left">Posted:</dt>
          <dd class="icon-meta__right">{{ post.date | date: "%b %d, %Y" }}</dd>
        {% endif %}
      </dl>

      <!-- Add query string `?at=XXXX` for affliate linking -->
      <a href="{{ post.itunes-url }}?at=1l3vtCx">
        <img
          src="{{ site.baseurl }}/{{ site.assets.images }}/download-on-app-store.svg"
          width="135"
          height="40"
        />
      </a>
    </header>

    <!-- Ad -->
    {% if site.theeme.ad_script %}
      <div class="icon-meta-ad">
        {{ site.theeme.ad_script }}
      </div>
    {% endif %}
  </div>
</article>
