{% assign post = page %}

{% comment %}
  If it has the `is-missing-512-icon` tag, that means a 512 sized icon cannot be
  guaranteed but 256 can, so we use that (likely only watchOS icons). Otherwise,
  512 size can be guaranteed so we use that (likely macOS and iOS).
{% endcomment %}
{% if post.is-missing-512-icon %}
  {% capture iconSrc %}{% include icon-src.html.liquid size="256" %}{% endcapture %}
{% else %}
  {% capture iconSrc %}{% include icon-src.html.liquid size="512" %}{% endcapture %}
{% endif %}


<article>

  <!-- Icon Sizes -->
  <ul class="icon-view">
    <li>
      <span class="icon-wrapper icon-wrapper--512">
        <img
          alt="{{ post.title }} app icon"
          class="icon icon--512"
          src="{{ iconSrc }}"
          width="512"
          height="512"

          {% comment %}
            If it is missing a 512, then there won’t be a 1024 so we won’t bother
            However, a 512 isn’t missing, then we’ll put this data attribute
            which will be picked up by our JS and conditionally load a 1024
            when available.
          {% endcomment %}
          {% unless post.is-missing-512-icon %}
            data-src2x="{% include icon-src.html.liquid size="1024" %}"
          {% endunless %}
        />
      </span>
    </li>
    <li>
      <span class="icon-wrapper icon-wrapper--256">
        <img
          alt="{{ post.title }} app icon"
          class="icon icon--256"
          src="{{ iconSrc }}"
          width="256"
          height="256"
        />
      </span>
    </li>
    <li>
      <span class="icon-wrapper icon-wrapper--128">
        <img
          alt="{{ post.title }} app icon"
          class="icon icon--128"
          src="{{ iconSrc }}"
          width="128"
          height="128"
        />
      </span>
    </li>
    <li>
      <span class="icon-wrapper icon-wrapper--64">
        <img
          alt="{{ post.title }} app icon"
          class="icon icon--64"
          src="{{ iconSrc }}"
          width="64"
          height="64"
        />
      </span>
      
    </li>
  </ul>

  <!-- Icon Meta Info -->
  <div class="icon-meta-wrapper">
    <!-- Header -->
    <header class="icon-meta">

      <!-- App Name -->
      <h1>
        {{ post.title }}
      </h1>

      <!-- Icon Meta -->
      <dl>
        <!-- Icon Designer -->
        {% if post.icon-designer %}
          <dt class="icon-meta__left">Icon Designer:</dt>
          <dd class="icon-meta__right">
              {% if post.icon-designer-url %}
                  <a href="{{ post.icon-designer-url }}" class="external-link">{{ post.icon-designer }}</a>
              {% else %}
                  {{ post.icon-designer }}
              {% endif %}
          </dd>
        {% endif %}

        <!-- App Developer -->
        {% if post.app-developer %}
          <dt class="icon-meta__left">App Developer:</dt>
          <dd class="icon-meta__right">
            {% if post.app-developer-url %}
              <a href="{{ post.app-developer-url }}" class="external-link">{{ post.app-developer }}</a>
            {% else %}
              {{ post.app-developer}}
            {% endif %}
          </dd>
        {% endif %}

        <!-- Category -->
        
        {% if post.category %}

          <!-- Get the Category's Nice Name -->
          {% for category in site.data.categories %}
            {% if category.id == post.category %}
              {% assign category = category.name %}
              {% assign categoryId = category.id %}
            {% endif %}
          {% endfor %}

          <dt class="icon-meta__left">Category:</dt>
          <dd class="icon-meta__right">
            <a href="/search/?category={{ categoryId }}">
              {{ category }}
            </a>
          </dd>
        {% endif %}

        <!-- Tags -->
        {% if post.tags.size > 0 %}
          <dt class="icon-meta__left">
            {% if post.tags.size > 1 %}
              Colors:
            {% else %}
              Color:
            {% endif %}
          </dt>
          <dd class="icon-meta__right">
            {% for tag in post.tags %}
              <a href="/search/?color={{tag}}">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
            {% endfor %}
          </dd>
        {% endif %}
        

        <!-- Post Date -->
        {% if post.date %}
          <dt class="icon-meta__left">Posted:</dt>
          <dd class="icon-meta__right">{{ post.date | date: "%b %d, %Y" }}</dd>
        {% endif %}
      </dl>

      <!-- Add query string `?at=XXXX` for affliate linking -->
      <a href="{{ post.itunes-url }}?at=1l3vtCx">
        <img
          src="/{{ site.assets.images }}/download-on-app-store.svg"
          width="135"
          height="40"
        />
      </a>
    </header>

    <!-- Ad -->
    <div class="icon-meta-ad">
      {% include ad.html.liquid %}
    </div>
  </div>
</article>
