---
layout: default
title: Search
permalink: /search/index.html
---

<div id="root">
  <div style="
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    border: 1px solid #f0f0f0;
  ">
    <img
      src="/{{ site.assets.images }}/loading.gif"
      alt="loading"
      width="32"
      height="32"
    />
  </div>
</div>

<script type="text/javascript">
window.ICON_GALLERY = {
  "name": "{{ site.theeme.active }}",

  {%- comment -%}
    Category data is already structured in alphabetical order, so we don't have
    to do any kind of data sorting here.
  {%- endcomment -%}
  
  "categoryIds": [
    {%- for category in site.data.categories -%}
      "{{ category[0] }}",
    {%- endfor -%}
  ],
  "categoriesById": {
    {%- for category in site.data.categories -%}
      "{{ category[0] }}": "{{ category[1] }}",
    {%- endfor -%}
  },

  {%- comment -%}
    Tags come in "ID" form already, so we just make our own "value" for them.
    We create an array of them first ourselves, then sort them and spit them
    back out.
  {%- endcomment -%}

  {%- capture siteColors -%}
    {%- for tag in site.tags -%}
      {{ tag | first }}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  {%- endcapture -%}
  {%- assign colors = siteColors | split: ',' | sort -%}
  "colorIds": [
      {%- for color in colors -%}
          "{{ color }}",
      {%- endfor -%}
  ],
  "colorsById": {    
      {%- for color in colors -%}
          "{{ color }}": "{{ color | capitalize }}",
      {%- endfor -%}
  },

  {%- comment -%}
    For developers, we have to create our own array of IDs, then alphabetize
    them. Then we create an object mapping those IDs to the real value.
  {%- endcomment -%}

  {%- capture developersString -%}
    {%- for post in site.posts -%}
      {%- if post.app-developer -%}
        {{ post.app-developer }}{% unless forloop.last %}||{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- assign developers = developersString | split: "||" | uniq -%}

  "developerIds": [
    {%- capture developerIdsString -%}
      {%- for developer in developers -%}
        {% include id-ify.html.liquid value=developer %}{% unless forloop.last %}||{% endunless %}
      {%- endfor -%}
    {%- endcapture -%}
    {%- assign developerIds = developerIdsString | split: '||' | sort -%}
    {%- for id in developerIds -%}
      "{{ id }}",
    {%- endfor -%}
  ],
  "developersById": {
    {%- for developer in developers -%}
      "{% include id-ify.html.liquid value=developer %}": "{{ developer }}",
    {%- endfor -%}
  },

  {%- comment -%}
    Designers works the same way as developers.
  {%- endcomment -%}

  {%- capture designersString -%}
    {%- for post in site.posts -%}
      {%- if post.icon-designer -%}
        {{ post.icon-designer }}{% unless forloop.last %}||{% endunless %}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- assign designers = designersString | split: "||" | uniq -%}

  "designerIds": [
    {%- capture designerIdsString -%}
        {%- for designer in designers -%}
          {% include id-ify.html.liquid value=designer %}{% unless forloop.last %}||{% endunless %}
        {%- endfor -%}
    {%- endcapture -%}
    {%- assign designerIds = designerIdsString | split: '||' | sort -%}
    {%- for id in designerIds -%}
        "{{ id }}",
    {%- endfor -%}
  ],
  "designersById": {
    {%- for designer in designers -%}
        "{% include id-ify.html.liquid value=designer %}": "{{ designer }}",
    {%- endfor -%}
  },


  "iconIds": [
    {%- for post in site.posts -%}
      "{{ post.url | replace: "/", "" }}",
    {%- endfor -%}
  ],
  // @TODO post.tags will put out empty
  "iconsById": {
    {%- for post in site.posts -%}
      "{{ post.url | replace: "/", "" }}": {
        {%- if post.tags -%}
          "colorIds": [
            {%- for colorId in post.tags -%}
              "{{ colorId }}",
            {%- endfor -%}
          ],
        {%- endif -%}
        {%- if post.app-developer -%}
          "developer": "{{ post.app-developer }}",
          "developerId": "{% include id-ify.html.liquid value=post.app-developer %}",
        {%- endif -%}
        {%- if post.icon-designer -%}
          "designer": "{{ post.icon-designer}}",
          "designerId": "{% include id-ify.html.liquid value=post.icon-designer %}",
        {%- endif -%}
        "name": "{{ post.title }}",
        "id": "{{ post.url | replace: "/", "" }}",
        "category": "{{ site.data.categories[post.category] }}",
        "categoryId": "{% include id-ify.html.liquid value=post.category %}"
      },
    {%- endfor -%}
  }
}
</script>

<script
  type="text/javascript"
  src="/{{ site.assets.scripts }}/search.min.js">
</script>